<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Company</title>
</head>
<body>
<form th:action="@{/lessons/{courseId}/{lessonId}/saveUpdateLesson(courseId = ${courseId},lessonId=${lesson.getId()})}"
      th:object="${lesson}"
      th:method="patch">
    <div>
        <input th:field="*{lessonName}" ></div>
    <div>
        <input type="submit" value="update">
    </div>
</form>
</body>
</html>







